*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #7D82B8;
}
.nav-bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.nav-bar a{
    text-decoration: none;
}
/*Logo*/
.nav-logo h1{
    color: #ffffff;
    font-size: 30px;
    text-shadow: -2px 5px 5px rgba(0, 0, 0, 0.574);
}
.nav-logo strong{
    font-style: italic;
    font-size: 35px;
}
/*Links para outras abas*/
.nav-links a{
    font-size: 23px;
    font-family: 'DM Sans';
    color: #fef9ffbf;
    margin: 10px;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #ffffff;
    transform: scale(1.1);
}
/*Aba para contato*/
.nav-contato a{
    font-size: 20px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
    padding: 10px 15px 10px 15px;
    color: #ffffff;
    transition: 0.5s;
}
.nav-contato a:hover{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.595);
}