/*--------------------------------Geral*/
.paragraph{
    color:#7D82B8; font-size: 25px;margin-bottom: 25px;
}
.title2{
    font-size:40px;margin-bottom: 30px;
}
/*--------------------------------Sessão principal*/
.main{
    padding-top: 150px;
    background-color: #D8E4FF;
    display: flex;
    justify-content: space-between;
}
.hamburguer{
    display: none;
}
.text-main{
    padding-left: 100px;
    display: block;
    margin: auto 0px auto 0px;
}
.text-main .main-welcome{
    color: #7D82B8;
    font-size: 20px;
    margin-bottom: 20px;
}
.text-main h1{
    font-size: 56px;
    color: #061800;
    margin-bottom: 35px;
}
.text-main .main-footer{
    color: #384633;
    font-size: 23px;
    margin-bottom: 40px;
}
.text-main .main-contato{
    text-align: center;
    text-decoration: none;
    padding: 20px 35px;
    background-color: #7D82B8;
    color: #ffffff;
    border-radius: 100px;
}
/*--------------------------------Sessão de Serviços*/
.services{
    text-align: center;
    background-color: #F5F5F5;
    padding: 100px 100px;
}
.conteiner-services{
    display: flex;
    flex-wrap: nowrap
}
.boxs-services{
    border-radius: 5px;
    margin: 10px 10px 30px 10px;
    text-align: justify;
    width: 32%;
    word-wrap: break-word;
    background-color: #FFFFFF;
    padding: 58px 24px 58px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.755);
    transition: 0.3s;
}
.boxs-services:hover{
    background-color: #d4d4d4;
}
.boxs-services h2{
    color: #212529;
}
.boxs-services p{
    margin-top: 20px;
    font-size: 20px;
    color: #495057;
}
/*--------------------------------Section Depoimentos*/
.depoimentos{
    background-color: #FFFFFF;
    padding: 100px 100px;
    text-align: center;
}
/*--------------------------------Depoimentos dos usuarios*/
.subconteiner-depoimentos{
    justify-content: space-between;
    text-align: justify;
    display: flex;
    height: 300px;
}
.user-depoimento{
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #7D82B8;
}
.user-depoimento p{
    margin: auto 15px;
    color: #7D82B8;
    font-size: 20px;
}
.boxs-depoimentos{
    height: 280px;
    margin: 25px 10% 30px 10%;
    display: none;
    width: 30%;
    background-color: #ddd8de;
    border-radius: 5px;
    padding: 25px;
}
/*--------------------------------butões*/
.buttons-depoimento{
    margin-top: 25px !important;
    display: flex;
    justify-content: space-around;
}
.proximo-anterior button{
    margin: 0 15px;
    text-decoration: none;
    padding: 20px;
    background-color:#7D82B8;
    border-radius: 5px;
    cursor: pointer;
}
.bullet{
    display: flex;
}
.bullet-single{
    margin:0 8px;
    cursor: pointer;
    display: inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color: #EDF2FB;
}
.buttons-depoimento-mobile{
    display: none;
}
/*--------------------------------Sobre*/
.sobre{
    background-color: #F5F5F5;
    padding: 100px 100px;
}
.conteiner-sobre{
    display: flex;
    justify-content: space-around;
}
.text-sobre{
    padding: 50px 0px;
    width: 570px;
    text-align: justify;
    margin-left: 50px;
}
.text-sobre h2{
    font-size: 20px;
    color: #7D82B8;
}
.text-sobre h1{
    font-size: 40px;
    margin: 20px 0px;
}
.text-sobre p{
    color: #495057;
    font-size: 20px;
}

.box-sobre{
    text-align: center;
    margin-top: 10%;
    width: 25%; 
}
.box-sobre h1{
    font-size: 40px;
}
.box-sobre p{
    font-size: 20px;
    color: #7D82B8;
}

.box-sobre#border-one{
    border-left: 1px solid #00856F;
}
.box-sobre#border-two{
    border-left: 1px solid #00856F;
    border-right: 1px solid #00856F;
}
.img-sobre-mobile{
    display: none;
}

/*--------------------------------Estrutura*/
.estrutura{
    background-color: #d8e4ff;
    text-align: center;
    padding: 100px 50px;
}
.estrutura p{
    font-size: 20px;
    color: #7D82B8;
    margin-bottom: 20px;
}
.estrutura h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.conteiner-estrutura{
    display: flex;
    justify-content: space-between;
}
.imgs{
    display: none;
}
.setas{
    margin: auto 10px;
}
.seta-mobile{
    display: none;
}
.setas button{
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    background-color:#7D82B8;
    border-radius: 5px;
    cursor: pointer;
}
.bullets{
    margin-top: 20px;
}
.bullet-single2{
    margin:0 8px;
    cursor: pointer;
    display: inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color: #EDF2FB;
}
/*--------------------------------Contato*/
.contato{
    background-color: #FEF9FF;
    text-align: center;
    padding: 100px;
}
.contato h2{
    color:#7D82B8;
}
.contato-flex{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.contato-text{
    text-align: justify;
    width: 40%;
}
.contato-text h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.contato-text p{
    color: #495057;
    font-size: 20px;
    margin:  10px 0px;
}
.contato-text a{
    margin: 30px 0px !important;
    text-align: center;
    text-decoration: none;
    padding: 20px 45px;
    background-color: #7D82B8;
    color: #ffffff;
    border-radius: 100px;
}
.contato-text img{
    margin: 0px 20px 0px 0px;
}

.contato-form{
    background-color:#F5F5F5;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
}
.contato-form h3{
    font-size: 25px;
}
.contato-form p{
    color: #7D82B8;
    font-size: 15px;
}
.contato-form form{
    text-align: left;
}
.contato-form form input{
    padding: 5px;
    margin: 10px 0px 20px 0px;
    background-color: #D8E4FF;
    border-radius: 5px;
    border: 1px solid #b6ccff;
    height: 35px;
}
.contato-form .submit{
    font-size: 15px;
    background-color:#7D82B8;
    border-radius: 5px;
    border: 1px solid #b6ccff;
    color: white;
    padding: 5px;
}
.contato-form form textarea{
    padding: 5px;
    margin-top: 10px;
    max-width: 375px;
    min-width: 375px;
    min-height: 150px;
    max-height: 150px;
    background-color: #D8E4FF;
    border-radius: 5px;
    border: 1px solid #b6ccff;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.box-contato{
    text-align: left;
    margin: 30px 20px 0px 0px;
}
/*footer*/
footer{
    background-color: #7D82B8;
    text-align: center;
}
.footer-text{
    padding: 100px;
    color: white;
}
.footer-text h1{
    margin-bottom: 30px;
    font-size: 45px;
}
.footer-text strong{
    font-style: italic;
    font-weight: bold;
}
.footer-text p{
    margin: 10px;
}
.footer-img{
    margin-top: 20px;
}